/*Stylesheet by Timothy Prestby 2019*/
.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}

.regions {
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: rgba(153, 153, 153, 0.203);
    stroke-width: 1px;
    
}

.gratBackground {
    fill: rgb(135, 163, 221);
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.bubble {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 10px 20px 0 0;
}