/*Stylesheet by Timothy Prestby 2019*/
html,body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.countries {
    fill: black;
    stroke: #CCC;
    stroke-width: 2px;
    stroke-linecap: round;

}

.regions {
    stroke: rgb(112, 112, 112);
    stroke-width: 2px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: rgba(153, 153, 153, 0.203);
    stroke-width: 1px;
    
}

.gratBackground {
    fill: rgb(135, 163, 221);
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    height: 80vh !important;
}

.chart {
    margin: 10x 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: .9em;
    font-weight: bold;
    fill: white;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

path[Attributes Style] {
    d: path("M -6 463.5 H 0.5 V 0.5 H -6");
}; 